<h3>Contact Info</h3>
<p>Name and Address: 
	<%= @contact.show_address %>
</p>
<p>Email: 
	<%= @contact.show_email %>
</p>
<p>Phone: 
	<%= @contact.show_phone_number %>
</p>
<p>
	<% if @contact.has_attribute?(:status) %>
	<%= @contact.show_status %>
	<% end %>
</p>